.todolistContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 175px;
}

.task-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}

.addButton {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    border: none;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.addButton img {
    transition: all 0.3s ease;
}

#taskInput {
    width: 382px;
    height: 56px;
    border: 2px solid #420504;
    border-radius: 16px;
    outline: none;
    padding: 20px;
    background: transparent;
    color: rgba(66, 5, 4, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

input {
    width: 244px;
    padding: 10px;
    background: transparent;
    color: rgba(66, 5, 4, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    border: none;
}

ul li {
    list-style: none;
    user-select: none;
    cursor: pointer;
    border: 2px solid #420504;
    border-radius: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #420504;
    padding: 16px;
    width: 382px;
    height: 56px;
    margin-top: 28px;
    display: flex;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.delete-button, .edit-button, .finish-button, .cancel-button, .save-button {
    width: 32px;
    height: 32px;
    border: none;
    text-decoration: transparent;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.delete-button {
    position: absolute;
    right: 5px;
    top: 15px;
}

.edit-button, .cancel-button {
    position: absolute;
    top: 15px;
    right: 36px;
}

.finish-button, .save-button {
    position: absolute;
    top: 15px;
    right: 70px;
}

.delete-button::before,
.edit-button::before,
.cancel-button::before {
    content: "";
    width: 1px;
    height: 32px;
    background: url("assets/icons/line.svg") no-repeat;
    position: absolute;
    bottom: 4px;
    left: 0;
}


.completed .delete-button,
.completed .edit-button,
.completed .finish-button,
.completed .cancel-button,
.completed .save-button {
    opacity: 0;
}

ul li.completed {
    background: #F1EAE9;
    border-radius: 16px;
    opacity: 0.5;
    transform: translateY(0);
}